@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --header-color: #FFF; 
    --main-color: #F8FAFC;
    --link-color: #4E80EE;
    --text-color: #030616;

    --font-style: "Inter", serif;
    --weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    background-color: var(--main-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-style);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    background-color: var(--header-color);
    width: 100%;
}

h2 {
    font-size: 1.5rem;
}

header h1 {
    margin-bottom: .8rem;
    font-size: 2.25rem;
}

h1, h2, p, a {
    font-weight: 600;
}


div {
    max-width: 80%;
    padding: 2% .2%;
}

.first-section h2,
.second-section h2 {
    padding: 2rem 0;
}

.first-section p,
.second-section p {
    padding: 1rem 0 2.5rem;
}

.first-section ol,
.second-section ul {
    padding: 0 1.7rem 0;
}

.first-section li,
.second-section li {
    padding: 0 0 .8rem;
}

a {
    color: var(--link-color);
}



